.hero {
  .hero-features {
    display: flex;

    .hero-feature {
      padding: 17px 24px;
      text-transform: uppercase;
      background: #FFF;
      margin-right: 24px;
      border-radius: 5px;
      font-weight: 600;
      font-size: 36px;
      line-height: 28px;
      color: #282828;

      &:last-child {
        margin-right: 0;
      }

      @media all and (max-width: 920px) {
        font-size: 26px;
      }

      @media all and (max-width: 800px) {
        font-size: 15px;
      }

      @media all and (max-width: 550px) {
        font-size: 12px;
        padding: 10px 20px;
      }

      @media all and (max-width: 500px) {
        margin-right: 10px;
      }

      @media all and (max-width: 400px) {
        margin-right: 0;
      }
    }

    @media all and (max-width: 420px) {
      flex-wrap: wrap;
      gap: 10px;
    }

    @media all and (max-width: 400px) {
      justify-content: space-between;
      gap: 20px;
    }
  }

  .hero-title {
    font-weight: 700;
    font-size: 110px;
    line-height: 130px;

    letter-spacing: -5px;
    text-transform: capitalize;

    /* Text / Alternate */

    color: #FFFFFF;

    margin: 48px 0 32px 0;

    @media all and (max-width: 920px) {
      font-size: 90px;
    }

    @media all and (max-width: 800px) {
      font-size: 80px;
    }

    @media all and (max-width: 700px) {
      font-size: 70px;
    }

    @media all and (max-width: 600px) {
      font-size: 60px;
    }

    @media all and (max-width: 550px) {
      letter-spacing: 0;
      font-size: 40px;
      margin: 40px 0 20px 0;
    }

    @media all and (max-width: 500px) {
      line-height: 80px;
    }

    @media all and (max-width: 420px) {
      font-size: 32px;
      margin: 20px 0 20px 0;
    }

    @media all and (max-width: 400px) {
      font-size: 45px;
      margin: 0;
    }
  }

  .hero-description {
    font-weight: 500;
    font-size: 51px;
    line-height: 60px;
    /* identical to box height, or 118% */

    letter-spacing: -0.02em;

    /* Text / Alternate */

    color: #FFFFFF;

    @media all and (max-width: 800px) {
      font-size: 30px;
    }

    @media all and (max-width: 420px) {
      font-size: 25px;
    }

    @media all and (max-width: 400px) {
      font-size: 35px;
    }
  }
}
