@import './reset.scss';

html, body {
  font-family: 'Inter', sans-serif;

  button {
    font-family: 'Inter', sans-serif;
  }
}

.button {
  padding: 20px 36px;
  background: #FFFFFF;
  border-radius: 100px;
  font-weight: 700;
  font-size: 28px;
  outline: none;
  border: none;

  color: #0CAF60;

  cursor: pointer;

  &:hover {
    color: #FFF;
    background: linear-gradient(180deg, #121212 0%, #000000 100%);
    transition: all 0.2s ease-in-out;
  }

  @media all and (max-width: 770px) {
    font-size: 20px;
    text-align: center;
  }

  @media all and (max-width: 400px) {
    font-size: 15px;
  }
}

.container {
  max-width: 1160px;
  margin: 0 auto;

  @media all and (max-width: 1160px) {
    padding: 0 40px;
  }
}

.social-text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
}

.social-username {
  color: #FFFFFF;
  font-size: 18px;
}
