.account-button {
  display: flex;
  align-items: center;
  margin-left: 32px;

  .account-image {
    margin-right: 16px;
  }

  .account-options {
    .account-select {
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.3px;
      color: #FAFAFA;
    }

    .network-select {
      font-weight: 400;
      font-size: 12px;
      line-height: 160%;
      color: #718096;
    }
  }
}
