.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 90px 0 60px 0;

  .logo-wrapper {
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #121212 0%, #000000 100%);
    border-radius: 6px;

    img {
      margin-right: 10px;
    }

    .logo-text {
      font-weight: 800;
      font-size: 36px;
      line-height: 48px;
      /* identical to box height, or 133% */

      letter-spacing: 0.05em;

      /* Text / Primary */

      color: #FFFFFF;

      @media all and (max-width: 700px) {
        display: none;
      }
    }
  }

  .button {
    text-decoration: none;
  }

  @media all and (max-width: 800px) {
    padding: 60px 0 60px 0;
  }

  @media all and (max-width: 500px) {
    padding: 40px 0 40px 0;
  }
}
