.sidebar {
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  max-width: 74px;
  position: relative;
  width: 100%;
  transition: all 0.2s ease-in-out;

  &:hover {
    max-width: 400px;

    .sidebar-navigation .menu-item .menu-item-title {
      display: flex;
    }

    .sidebar-navigation .sidebar-menu .sidebar-title {
      opacity: 1;
    }

    .logo-wrapper .home-link .home-link-title {
      display: flex;
    }
  }

  .logo-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98px;
    border-right: 1px solid #323B49;
    background-color: #1F2937;

    .home-link {
      display: flex;

      .logo {
        width: 35px;
      }

      &:hover {
        opacity: 0.6;
      }
    }

    .expander-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      right: 0;
      outline: none;
      position: absolute;
      cursor: pointer;

      .expander {
        width: 32px;
        height: 32px;
        transform: rotate(180deg);

        &:hover {
          opacity: 0.6;
        }
      }

      .wallet-expander-rotate {
        transform: rotate(0deg);
      }
    }
  }

  .sidebar-navigation {
    opacity: 1;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 25px;
    border-right: 1px solid #323B49;
    background-color: #1F2937;
    height: calc(100% - 98px);
    box-sizing: border-box;

    .sidebar-menu {
      .sidebar-title {
        opacity: 0;
        font-weight: 500;
        font-size: 12px;
        line-height: 160%;
        color: #A0AEC0;
        margin-bottom: 20px;
      }
    }

    .menu-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;

      img {
        width: 24px;
        height: 24px;
        background-color: #1F2937;
      }

      .menu-item-title {
        display: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.2px;
        height: 23px;
        color: #718096;
        margin-left: 16px;
        transition: all 0.2s ease-in-out;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
